@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e231e;
  --color-primary: #f48265;

  --color-red: #d75555;
  --color-peach: #ffc8aa;
  
  --color-beige-1: #fcfaf5;
  --color-beige-2: #f0ede2;
  --color-beige-3: #f7f1e2;
  --color-beige-4: #bdb28c;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}